body {
    background-color: #ddd;
    margin-left: 20px;
}
h1 {
    position: relative;
}
h1::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(79, 66, 66);
    left: 150px;
    bottom: -27px;
    transform: translatey(-50%);
    margin-left: 20px;
    
}
h1::after {
    
    position: absolute;
    content: "";
    width: 300px;
    height: 4px;
    background-color: rgb(79, 66, 66);
    left: 0;
    bottom: -10px;
    margin-left: 20px;

}
ul li {
    color: #806e6e;
}
a:hover {
    color: #fff;
    background-color: rgb(90, 108, 90);
    margin: auto;
}
h1 ,
h2,
h3{
    background-color: #fff;
    width: 500px;
    padding: 8px 10px;
    border-radius: 8px;
}

p {
    max-width: 800px;
    color: #806e6e;
}
a {
    color: #fff;
    margin: auto;
    width: 300px;
    background-color: gray;
    padding: 8px 20px;
    border-radius: 10px;
    /* background-color: #eee; */
   
}
ul {
    list-style: none;
}
ul li {
    list-style: none;
}